.modern-card {
  background-color: #f5f5f5;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clickable-item {
  cursor: pointer;
  color: #007bff;
  transition: color 0.3s;
}

.clickable-item:hover {
  color: #0056b3;
  text-decoration: underline;
  box-shadow: none; /* Remove box shadow on click */
}


