<ion-card class="modern-card">
  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-content>
  <ion-list>
    <ion-item >
    </ion-item>
    <!-- Other items in the list -->
    <ion-item class="clickable-item" (click)="onItemClick('Item 1')">
      Access Switch and Router CLI
    </ion-item>
    <ion-item class="clickable-item" (click)="onItemClick('Item 2')">
      Windows CMD Commands
    </ion-item>
    <ion-item class="clickable-item" (click)="onItemClick('Item 3')">
      Network Devices
    </ion-item>
  </ion-list>
</ion-content>
