.content {
    background-color: #f5f5f5; /* Set the background color to light gray */
  }
  
  .card {
    background-color: #ffffff; /* Set the background color to white */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .card-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
  }
  
  .card-content {
    padding: 16px;
  }
  