<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Access Switch and Router CLI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="true" class="content">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-sm="12" size-md="8" size-lg="6">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">Accessing Router CLI</ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-content">
            <p>Step1: Connect your router to your laptop using console cable.</p>
            <br>
            <ion-img src="path/to/your/image.jpg" alt="Image"></ion-img>
            <br>
            <p>Step2: Determin the serial port being used to connect your laptop to your router over the console cable.</p>
            <br>
            <ion-img src="path/to/your/image.jpg" alt="Image"></ion-img>
            <br>
            <p>Step3: Determin the serial port being used to connect your laptop to your router over the console cable.</p>
            <br>
            <ion-img src="path/to/your/image.jpg" alt="Image"></ion-img>
            <br>
            <p>Step4: Determin the serial port being used to connect your laptop to your router over the console cable.</p>
            <br>
            <ion-img src="path/to/your/image.jpg" alt="Image"></ion-img>
            <br>
            <p>Step5: Determin the serial port being used to connect your laptop to your router over the console cable.</p>
            <br>
          </ion-card-content>
        </ion-card>

        <ion-card class="card">
          <ion-card-header>
            <ion-card-title class="card-title">Accessing Switch CLI</ion-card-title>
          </ion-card-header>
          
          <ion-card-content class="card-content">
            <p>Step1: Connect your router to your laptop using console cable.</p>
            <br>
            <ion-img src="path/to/your/image.jpg" alt="Image"></ion-img>
            <br>
            <p>Step2: Determin the serial port being used to connect your laptop to your router over the console cable.</p>
            <br>
            <ion-img src="path/to/your/image.jpg" alt="Image"></ion-img>
            <br>
            <p>Step3: Determin the serial port being used to connect your laptop to your router over the console cable.</p>
            <br>
            <ion-img src="path/to/your/image.jpg" alt="Image"></ion-img>
            <br>
            <p>Step4: Determin the serial port being used to connect your laptop to your router over the console cable.</p>
            <br>
            <ion-img src="path/to/your/image.jpg" alt="Image"></ion-img>
            <br>
            <p>Step5: Determin the serial port being used to connect your laptop to your router over the console cable.</p>
            <br>
          </ion-card-content>
        </ion-card>

        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>