<ion-header>
  <ion-toolbar>
    <ion-title>Translucent Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <img alt="Silhouette of mountains" src="assets/icon/ccna.png" />
  </ion-card-content>
</ion-card>

<ion-content>
  <div class="flex-center">
    <!-- Buttons -->
    <ion-button fill="outline" class="custom-button" (click)="onButton1Click()">WINDOWS</ion-button>
    <ion-button fill="outline" class="custom-button" (click)="onButton2Click()">COMMANDS</ion-button>
    <ion-button fill="outline" class="custom-button" (click)="onButton3Click()">NETWORK TOPOLOGY</ion-button>
    
    <!-- Exit Button -->
    <ion-button fill="outline" class="exit-button" (click)="onExitClick()">Exit</ion-button>
  </div>
</ion-content>
