.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  padding-top: 10px;
}

ion-button.custom-button {
  border-radius: 50px;
  margin: 20px 0;
  padding: 0 10px;
  width: 300px;
  --border-color: #e2e2e2;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  background-color: #ffffff;
}

ion-button.exit-button {
  border-radius: 50px;
  margin: 10px 0;
  padding: 0 20px;
  width: auto;
  --border-color: #e2e2e2;
  color: #ff0000;
  font-weight: bold;
  font-size: 18px;
  background-color: #ffffff;
}

ion-header {
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-toolbar {
  --ion-color-primary: #333333;
  --ion-color-secondary: #ffffff;
  --ion-color-contrast: #ffffff;
  --ion-color-text-buttons: #ffffff;
}

ion-title {
  font-size: 20px;
  font-weight: bold;
}
